@model List<Seller>

@{
    ViewData["Title"] = "Manage Seller";
}
<style>
    .h1class {
        color: #6c757d;
        font-size: 1.9em;
        margin-top: 2%;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn-margin {
        margin-right: 40px;
        background-color: #41E394;
        width: 150px;

    }


    .btn-margin:hover,
    .btn-margin:active {
        background-color: #F1DD6B;
    }

    .search-input {
        transition: all 0.3s ease-in-out;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    }

    .search-input:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .search-input:focus {
        outline: none;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
<div class="header-container">
    <div>
        <h1 class="h1class">@ViewData["Title"]</h1>
        <p>Use this page to manage seller at this mart.</p>
    </div>
    <div class="d-flex justify-content-end align-items-center">
        <button class="btn btn-primary btn-margin" data-toggle="modal" data-target="#addSellerModal">Add Seller</button>
        <div class="input-group search-bar">
            <input type="text" class="form-control search-input" placeholder="Search seller 🔍" id="searchInput">
            <div class="input-group-append">

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="addSellerModal" tabindex="-1" role="dialog" aria-labelledby="addSellerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="addSellerModalLabel">Add Seller</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Admin/Create" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group ">
                            <label for="sellerName">Name</label>
                            <input type="text" class="form-control" id="sellerName" placeholder="Masukkan Nama" required
                                name="sellerName">
                        </div>
                        <div class="form-group">
                            <label for="sellerUsername">Username</label>
                            <input type="text" class="form-control" id="sellerUsername" name="sellerUsername" required
                                placeholder="Masukkan Username">
                        </div>
                        <div class="form-group ">
                            <label for="sellerPhone">Phone</label>
                            <input type="text" class="form-control" id="sellerPhone" name="sellerPhone" required
                                placeholder="Masukkan Nomor Handphone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sellerAddress">Address</label>
                        <input type="text" class="form-control" id="sellerAddress" name="sellerAddress" required
                            placeholder="Masukkan Alamat">
                    </div>
                    <div class="form-group mt-3">
                        <label for="sellerUrlPhoto">Url Photo</label>
                        <input type="file" class="form-control-file" id="sellerUrlPhoto" onchange="loadFile(event)"
                            name="sellerUrlPhoto">
                        <div class="img-fluid" style="max-width: 100px; margin-top: 10px;">
                            <img id="output" src="~/image/no-image-available.png" alt="Image preview" width="100px">
                            <span id="outputText" style="display: none;"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>





<div class="table-responsive">
    <table class="table table-striped">
        <thead class="theadtomm">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var seller in Model)
            {
                <tr>
                    <td>@(Model.IndexOf(seller) + 1)</td>
                    <td>@seller.Name</td>
                    <td>@seller.Username</td>
                    <td>@seller.Phone</td>
                    <td>@seller.Address</td>
                    <td><img src="@seller.UrlPhoto" alt="Seller photo" class="img-fluid" style="max-width: 70px;"></td>
                    <td>
                        <div class="d-flex">
                            <button type="button" class="btn btn-warning " style="margin-right: 8px;" data-toggle="modal"
                                data-target="#editModal-@seller.Id">
                                <i class="fas fa-edit"></i>
                            </button>
                            <form id="deleteForm-@seller.Id" method="post" action="/Admin/Delete/@seller.Id"> <button
                                    type="button" class="btn btn-danger" onclick="confirmDelete('@seller.Id')">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>

                <div class="modal fade" id="editModal-@seller.Id" tabindex="-1" role="dialog"
                    aria-labelledby="editModalLabel-@seller.Id" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel-@seller.Id">Edit Seller</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="editForm-@seller.Id" method="post" action="/Admin/Edit/@seller.Id"
                                    enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="sellerName-@seller.Id">Name</label>
                                        <input type="text" class="form-control" id="sellerName-@seller.Id" name="Name"
                                            value="@seller.Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="sellerUsername-@seller.Id">
                                            Username
                                        </label>
                                        <input type="text" class="form-control" id="sellerUsername-@seller.Id" name="Username"
                                        value="@seller.Username">
                                    </div>
                                    <div class="form-group">
                                        <label for="sellerPhone-@seller.Id">Phone</label>
                                        <input type="text" class="form-control" id="sellerPhone-@seller.Id" name="Phone"
                                            value="@seller.Phone">
                                    </div>
                                    <div class="form-group">
                                        <label for="sellerAddress-@seller.Id">Address</label>
                                        <input type="text" class="form-control" id="sellerAddress-@seller.Id" name="Address"
                                            value="@seller.Address">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="editSellerUrlPhoto-@seller.Id">Url Photo</label>
                                        <input type="file" class="form-control-file" id="editSellerUrlPhoto-@seller.Id"
                                            onchange="loadFile2(event)" name="sellerUrlPhoto">
                                        <img id="output-@seller.Id" src="@seller.UrlPhoto" alt="Image preview"
                                            class="img-fluid" style="max-width: 100px; margin-top: 10px;">
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary"
                                            onclick="confirmEdit('@seller.Id')">Save changes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </tbody>
    </table>
</div>


<script>
    function confirmDelete(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('deleteForm-' + id).submit();
            }
        })
    }
    function confirmEdit(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Edit it!'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('editForm-' + id).submit();
            }
        })
    }
    function loadFile(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    var loadFile2 = function (event) {
        var output = document.getElementById('output-' + event.target.id.split('-')[1]);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

</script>
<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        var input = this;
        var filter = input.value.toUpperCase();
        var table = document.querySelector('.table');
        var tr = table.getElementsByTagName('tr');

        for (var i = 0; i < tr.length; i++) {
            var td = tr[i].getElementsByTagName('td')[1]; // Get the second column (Name)
            if (td) {
                var txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    });
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>